*

!/resources/

!/resources/announcer
!/resources/helloworld
!/resources/itemtracker
!/resources/teleport

!/resources/announcer/**
!/resources/helloworld/**
!/resources/itemtracker/**
!/resources/teleport/**